// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

body {
  background: linear-gradient(grey, rgb(74, 56, 42));
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  background-color: #fefefe;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333
}

header h2,
header p {
  margin: 4px 0;
  color: #eee
}

header {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(170, 106, 53);
  padding: 4px 16px;
  position: sticky;
  top: 0;
}

.btn {
  text-decoration: none;
  color: rgb(170, 106, 53);
  background-color: #eee;
  padding: 4px 8px;
  border-radius: 2px;
  box-shadow: 2px 2px 8px #00000044;
  margin-right: 12px;
  border: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 24px 16px 0;
}

.list h2,
.list p {
  margin: 0;
  padding: 4px 0 4px 8px;
}

.list {
  border: 1px #888 solid;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 2px 2px 8px #00000044;
  padding: 8px 16px;
}

form {
  margin: 0 16px;
}

label,
input,
textarea {
  width: 100%;
  font-size: 16px;
  padding: 8px 16px;
}

textarea {
  height: 250px;
  min-width: 100%;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.title {
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin: 24px 0;
}

.title h1,
.title h2{
  flex-grow: 1;
}

.content {
  padding: 0 64px 64px;
  margin: 64px 0 0;
  text-align: justify;
}
